body {
    margin: 30px auto;
    width: 85%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #CDC9C9;
}
.links{
	background-color: #18542E;;
	font-color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
	margin-left: 20px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family:'Algerian', 'Arial', 'Sans-Serif';
	padding: 0px;
	border:0px;
	margin: 0px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
.blurb{
background-color: white;
border-style: solid;
border-width: 2px;
padding-left:5%;
padding-right:5%;
font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif';
}
.center{
text-align:center;
	padding: 0px;
	border:0px;
	margin: 0px;
}
.float {
    float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.floatLeft {
    float: left;
	padding-right: 10px;
}
hr{
clear:both;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
aside{
	float: right;
	width: 60%;
	}